body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  background: rgb(63, 94, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.centered-container {
  height: 80%;
  width: 70%;
  background-color: aliceblue;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centered-container > h1 {
  margin-bottom: 15rem;
  margin: 5rem 5rem 15rem 5rem;
  font-size: 30px;
  text-align: center;
}
.centered-container > button {
  height: 5rem;
  width: 25rem;
  background-color: aquamarine;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  font-size: 2rem;
}
